// You can add global styles to this file, and also import other style files
@import "~bootstrap/dist/css/bootstrap.css";

html,
body,
#root {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

#root {
	flex: 1;
	overflow: hidden;
}

#app-wrapper {
	height: 100%;
	overflow-y: auto;
	display: flex;

	#app-sidebar {
		width: 14rem;
		height: 100%;
		background-color: #f8f8f8;
		border-right: 1px solid #e4e4e4;
		overflow: hidden;
		transition: 0.25s;


		&.collapsed {
			width: 3rem;
			transition:  0.25s;

		}

		.nav-link {
			display: flex;
			align-items: center;
			flex-wrap: nowrap;
			padding: 0.7rem 1rem;

			&:hover {
				background-color: rgba($color: #7c7c7c, $alpha: 0.1);
			}

			i {
				margin-right: 1rem;
			}
		}
	}

	#app-content {
		flex: 1;
	}
}

.input-group {
	margin-bottom: 15px;
}


.toolbar {
	background-color: #f8f8f8;
	padding: 1rem 2rem;
	margin-bottom: 2rem;
}