<app-navbar (collapse)="toggleSidebar()">
	<ng-container menu>
		<app-navbar-item *ngIf="!auth.loggedIn" name="Login" route="/login"></app-navbar-item>
		<app-navbar-item *ngIf="!auth.loggedIn" name="Register" route="/register"></app-navbar-item>
	</ng-container>

	<ng-container navbarLeft>
		<app-button-dropdown *ngIf="auth.loggedIn">
			<app-link-dropdown-item label="Account ({{auth.currentUser.username}})" route="/account"></app-link-dropdown-item>
			<app-link-dropdown-item label="Admin" route="/admin" *ngIf="auth.loggedIn && auth.isAdmin"></app-link-dropdown-item>
			<app-link-dropdown-item label="Logout" route="/logout"></app-link-dropdown-item>
		</app-button-dropdown>
	</ng-container>
</app-navbar>

<div id="app-wrapper">
	
	<div id="app-sidebar" [ngClass]="{'collapsed': !isOpen}" *ngIf="auth.loggedIn">
		<nav class="nav flex-column mt-1">
			<a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
				<i class="fa fa-home"></i> <span> Dashboard</span>
			</a>
		</nav>
	</div>
	<div id="app-content">
		<router-outlet></router-outlet>
	</div>
</div>